<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="arrow-back-outline"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="form">
      <app-notification-item
        [show]="(pageState$ | async).notification.show"
        [message]="(pageState$ | async).notification.message"
        [colour]="(pageState$ | async).notification.colour"
      ></app-notification-item>

      <ion-item lines="none">
        <ion-label position="stacked" for="currentPassword"
          >Current Password</ion-label
        >
        <ion-input
          id="currentPassword"
          type="password"
          formControlName="currentPassword"
        ></ion-input>
      </ion-item>

      <ion-item
        lines="none"
        *ngIf="form.controls.currentPassword.errors?.required && (form.controls.currentPassword.dirty || submitAttempt)"
      >
        <ion-label color="danger">Provide current password.</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked" for="newPassword">New Password</ion-label>
        <ion-input
          id="newPassword"
          type="password"
          formControlName="newPassword"
        ></ion-input>
      </ion-item>

      <ion-item
        lines="none"
        *ngIf="form.controls.newPassword.errors?.required && (form.controls.newPassword.dirty || submitAttempt)"
      >
        <ion-label color="danger">Provide new password.</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked" for="confirmNewPassword"
          >Confirm New Password</ion-label
        >
        <ion-input
          id="confirmNewPassword"
          type="password"
          formControlName="confirmNewPassword"
        ></ion-input>
      </ion-item>

      <ion-item
        lines="none"
        *ngIf="form.controls.confirmNewPassword.errors?.required && (form.controls.confirmNewPassword.dirty || submitAttempt)"
      >
        <ion-label color="danger">Confirm new password.</ion-label>
      </ion-item>

      <ion-button
        [disabled]="!form.valid"
        class="submit-button"
        expand="block"
        type="submit"
      >
        <ion-spinner
          *ngIf="(pageState$ | async).loading; else label"
        ></ion-spinner>
        <ng-template #label>Change Password</ng-template>
      </ion-button>
    </div>
  </form>
</ion-content>
