<ion-content class="ion-padding">
  <div class="logo"><img src="../../assets/logo.png" /></div>

  <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="form">
      <ion-item class="note">
        <ion-label class="ion-text-wrap">
          Provide your phone number to reset your password. You will receive an
          SMS message with a reset code.</ion-label
        >
      </ion-item>

      <app-notification-item
        [show]="(pageState$ | async).notification.show"
        [message]="(pageState$ | async).notification.message"
        [colour]="(pageState$ | async).notification.colour"
      ></app-notification-item>

      <ion-item lines="none">
        <ion-label position="stacked" for="username">Phone Number</ion-label>
        <ion-input
          id="username"
          type="text"
          formControlName="username"
          autofocus="true"
          #phone
        ></ion-input>
      </ion-item>

      <ion-item
        lines="none"
        *ngIf="!form.controls.username.valid  && (form.controls.username.dirty || submitAttempt)"
      >
        <ion-label color="danger">Please enter a valid phone number.</ion-label>
      </ion-item>
    </div>

    <ion-button
      [disabled]="!form.valid"
      class="submit-button"
      expand="block"
      type="submit"
    >
      <ion-spinner
        *ngIf="(pageState$ | async).loading; else label"
      ></ion-spinner>
      <ng-template #label>Reset Password</ng-template>
    </ion-button>
    <ion-button [routerLink]="['../signin']" expand="block" color="light"
      >Return to login</ion-button
    >
  </form>
</ion-content>
