.logo {
  padding-bottom: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.submit-button {
  margin: 20px 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid var(--ion-color-primary);
}
